body {
  background-color: #666666;
  text-align: center;
}

#container {
  margin: 0 auto;
  max-width: 600px;
}

.squares {
  width: 30%;
  padding-bottom: 30%;
  margin: 1.66%;
  float: left;
}

h1 {
  color: white;
}

#header {
  background: white;
  height: 30px;
  text-align: center;
  color: black;
}

.selected {
  background-color: blue;
}
